@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="hero" id="home">
    <main class="content">
        <h1>Mari Berpetualang Keliling <span>Dunia</span></h1>
        <p>Temukan pengalaman liburan terbaikmu</p>
        <a asp-page="/Pergi" class="cta">Pergi Sekarang</a>
    </main>
</section>
